html,
body,
#app {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: $font-weight-normal;
  color: #fafafa;
  text-align: center;
  flex-direction: column;
  user-select: none;
  background: #292c2e;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
  touch-action: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

ul {
  padding: 0;
}

h1 {
  margin-bottom: calc(0.5vmin + 0.5vh);
  font-size: calc(2vmin + 2vw);
  font-weight: 100;
  letter-spacing: 5px;
}

h5 {
  font-size: calc(2.2vmin + 2.2vh);
  line-height: 100%;
  text-align: left;
  user-select: none;
  transform: rotate(-60deg);
  touch-action: none;
}

h6 {
  font-size: calc(2vmin + 2vw);
  font-weight: $font-weight-normal;
  line-height: 80%;
  text-align: left;
}

button {
  display: flex;
  margin: calc(0.5vmin + 0.5vh);
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: calc(3.2vmin + 3.2vw);
  font-weight: $font-weight-bold;
  color: #fafafa;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  user-select: none;
  background: none;
  border: none;
  outline: none;
  opacity: 0.69;
  touch-action: none;
  align-items: center;
  justify-content: center;
}

.light-up {
  filter: saturate(4);
}

#main {
  display: flex;
  width: 100vw;
  min-width: 355px;
  height: 100vh;
  min-height: 355px;
  padding: calc(1vmin + 1vh);
  flex-direction: column;
  transform-origin: center;
  align-items: center;
}

#lock-screen,
#branches,
#sure,
#lock-screen-clear {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lock-screen-clear {
  opacity: 0;
}

.g-signin2,
#branches {
  z-index: 10;
}

#sure {
  z-index: 50;
  height: 100%;
  padding-top: calc(3.5vmin + 3.5vh);
  overflow: hidden;
  background-color: #292c2e;
  justify-content: space-evenly;
}

#branches {
  height: 100%;
  padding-top: calc(3.5vmin + 3.5vh);
  overflow: scroll;
  background-color: #292c2e;
  justify-content: flex-start;
}

#branches-content {
  display: flex;
  width: 100%;
  height: 77%;
  overflow: scroll;
  flex-direction: column;
  align-items: center;
}

.branch {
  white-space: pre;
  list-style-type: none;
  user-select: none;
}

.selected-branch {
  color: #292c2e;
  background-color: #fafafa;
}

.branch-button {
  display: flex;
  width: 100%;
  padding: calc(1vmin + 1vh);
  margin: 0;
  font-weight: $font-weight-normal;
  text-decoration: none;
  flex-direction: row;
  touch-action: auto;
  justify-content: center;
}

#modal-button {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 21%;
  padding: calc(1.4vmin + 1.4vw);
  margin: 0;
  background: #9f621d;
}

.sure-button {
  width: 100%;
  height: 33%;
}

.sure-button:hover {
  filter: saturate(4);
}

.yes {
  background-color: #0c6235;
}

.no {
  background-color: #671518;
}

#modal-header,
#sure-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  padding-top: calc(1vmin + 1vh);
  background-color: #292c2e;
}

#close-button {
  position: fixed;
  top: calc(1vmin + 1vh);
  right: calc(1.1vmin + 1.1vh);
  z-index: 20;
  margin: 0;
  font-size: calc(1.6vmin + 1.6vw);
  font-weight: 200;
  line-height: 1;
  cursor: pointer;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dev-switch {
  position: absolute;
  left: calc(1vmin + 1vh);
  font-size: calc(0.6vmin + 0.6vw);
  font-weight: 200;
  color: #fafafa;
  text-decoration: none;
}

.dev-on {
  background-color: #671518;
}

#sign-out {
  position: absolute;
  right: calc(1vmin + 1vh);
  font-size: calc(0.6vmin + 0.6vw);
  font-weight: 200;
  color: #fafafa;
  text-decoration: none;
}

#all-buttons {
  display: flex;
  width: 100%;
  height: 65%;
  flex-direction: column;
  align-items: center;
}

#top-buttons {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

#bottom-buttons {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}

.button-text {
  display: flex;
  pointer-events: none;
  flex-direction: column;
  align-items: left;
}

#button-on {
  width: 100%;
  margin-left: 0;
  background-color: #0c6235;
}

#button-off {
  width: 100%;
  margin-right: 0;
  background-color: #671518;
}

#button-save {
  width: 100%;
  background-color: #0b61b0;
}

#button-refresh {
  width: 100%;
  margin-left: 0;
  background-color: #6c3371;
}

#button-rewind {
  width: 100%;
  margin-right: 0;
  background-color: #9f621d;
}

#console {
  z-index: 1;
  width: 100%;
  height: 40%;
  padding: calc(1.5vmin + 1.5vh);
  margin-top: calc(0.5vmin + 0.5vh);
  overflow: scroll;
  background-color: #454a4d;
  border: calc(1vmin + 1vh) $border-style transparent;
  overflow-anchor: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#prod-console,
#dev-console {
  width: 100%;
  height: 100%;
  overflow: scroll;
  font-family: monospace;
  font-size: calc(1.5vmin + 1.5vw);
  color: #fafafa9b;
  text-align: left;
  word-break: break-word;
  white-space: pre-wrap;
  user-select: text;
  overflow-anchor: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#console::-webkit-scrollbar,
#prod-console::-webkit-scrollbar,
#dev-console::-webkit-scrollbar {
  display: none;
}
