.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e0e0;
  font-family: Roboto, sans-serif;
  height: 100%;
  min-height: 100vh
}

.app-container {
  display: flex;
  width: 1200px;
  flex-direction: column;
  background-color: #fafafa;
  align-items: center;
  height: 100%;
  min-height: 100vh
}

.logo {
  z-index: 1;
  width: 333px;
  height: 150px;
  margin: 30px 0;
  user-select: none;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 90px;
  flex-direction: column;
  background-color: #fafafa;
  align-items: center;
  justify-content: flex-start;
}

.nav-divider, .footer-divider {
  width: 666px;
  height: 1px;
  margin-bottom: 20px;
  background-color: #e0e0e0;
}

.nav-buttons-container {
  display: flex;
  width: 980px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button {
  font-size: 15px;
}

.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-banner {
  width: 100%;
  height: 400px;
  background-color: rgba(98, 65, 37, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-banner-line-1 {
  font-size: 40px;
  color: #fafafa;
  margin-bottom: 20px;
}

.home-banner-line-2 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  color: #fafafa;
}

.home-banner-line-3 {
  font-size: 20px;
  color: #fafafa;
}

.home-read-more {
  background-color: #fafafa;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-read-more-line-1 {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 0;
  height: 100px;
}

.home-read-more-arrow {
  font-size: 60px;
  margin: 0 20px 0 20px;
  background-color: transparent;
}

.home-read-more-text {
  font-size: 40px;
  height: 100%;
  font-weight: bold;
  background-color: rgba(98, 65, 37, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0 20px;
  align-items: center;
}

.home-read-more-line-2 {
  font-size: 20px;
  margin: 40px 0 40px 0;
}

.home-read-more-button {
  font-size: 20px;
  background-color: rgba(98, 65, 37, 0.8);
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 200px;
}

.home-talent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 400px;
  background-color: #e0e0e0;
}

.instructions-container, .gluten-free-container, .in-the-news-container, .community-container {
  display: flex;
  width: 80%;
  height: 100%;
  word-break: break-all;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.instructions-button, .gluten-free-button, .in-the-news-button, .community-button {
  width: 20%;
  height: 150px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  word-break: keep-all;
  background-color: rgba(98, 65, 37, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10%;
}

.instructions-button:hover, .gluten-free-button:hover, .in-the-news-button:hover, .community-button:hover {
  background-color: rgba(98, 65, 37, 0.8);
}

.instructions-button-title, .gluten-free-button-title, .in-the-news-button-title, .community-button-title {
  font-size: 24px;
  font-weight: 800;
  color: #fafafa;
  margin: 5px 0 10px 0;
}

.instructions-button-description, .gluten-free-button-description, .in-the-news-button-description, .community-button-description {
  font-size: 18px;
  font-weight: 200;
  color: #fafafa;
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.footer-line-1 {
  font-size: 40px;
  color: #fafafa;
  font-weight: 200;
  margin-bottom: 5px;
  background-color: rgba(98, 65, 37, 0.8);
  width: 25%;
  text-align: center;
}

.footer-line-2 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}

.footer-email-signup {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-links{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-line-3 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer-line-4 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer-line-5 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer-line-6 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}
