@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$base: #5a5b5c;
$background: #fafafa;
$darkbrown: #24180e;
$brown: #c89e72;
$width: 1000px;
$title: 'Oswald', sans-serif;
$body: 'Open Sans', sans-serif;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base;
  font-family: Roboto, sans-serif;
  height: 100%;
  min-height: 100vh;
  min-width: $width;
  font-family: $body;
}

.app-container {
  display: flex;
  width: $width;
  flex-direction: column;
  background-color: $background;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.75);
}

.logo {
  z-index: 1;
  width: 333px;
  height: 150px;
  margin: 30px 0;
  user-select: none;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.nav-divider, .footer-divider {
  width: 666px;
  height: 1px;
  margin-bottom: 20px;
  background-color: $body;
}

.nav-buttons-container {
  display: flex;
  width: 980px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button {
  font-size: 13px;
}

.home-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-banner {
  width: 100%;
  height: 400px;
  background-color: $brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $title;
}

.home-banner-text {
  background-color: $background;
  width: 100%;
}

.home-banner-line-1 {
  font-size: 30px;
  color: $background;
  font-weight: 100;
}

.home-banner-line-2 {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 10px;
  color: $background;
}

.home-banner-line-3 {
  font-size: 20px;
  color: $background;
}

.home-read-more {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-read-more-line-1 {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 0;
  height: 100px;
}

.home-read-more-arrow {
  font-size: 60px;
  margin: 0 20px 0 20px;
  background-color: transparent;
}

.home-read-more-text {
  font-size: 40px;
  height: 100%;
  font-weight: bold;
  background-color: $brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 0 20px;
  align-items: center;
}

.home-read-more-line-2 {
  font-size: 20px;
  margin: 40px 0 40px 0;
}

.home-read-more-button {
  font-size: 20px;
  background-color: $brown;
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 200px;
  color: $background;
}

.home-read-more-button:hover {
  background-color: $brown;
}

.home-talent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 400px;
}

.home-slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 400px;
}

.home-slider-card-image {
  height: 100%;
  overflow: hidden;
}

.instructions-container, .gluten-free-container, .in-the-news-container, .community-container {
  display: flex;
  width: 80%;
  height: 100%;
  word-break: break-all;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.instructions-button, .gluten-free-button, .in-the-news-button, .community-button {
  width: 20%;
  height: 150px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  word-break: keep-all;
  background-color: $brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10%;
}

.instructions-button:hover, .gluten-free-button:hover, .in-the-news-button:hover, .community-button:hover {
  background-color: $brown;
}

.instructions-button-title, .gluten-free-button-title, .in-the-news-button-title, .community-button-title {
  font-size: 24px;
  font-weight: 800;
  color: $background;
  margin: 5px 0 10px 0;
}

.instructions-button-description, .gluten-free-button-description, .in-the-news-button-description, .community-button-description {
  font-size: 18px;
  font-weight: 200;
  color: $background;
}

.footer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-line-1 {
  font-size: 40px;
  color: $background;
  font-weight: 200;
  margin-bottom: 5px;
  background-color: $brown;
  text-align: center;
  width: 100%;
  padding: 5px 10px 5px 10px;
}

.footer-line-2 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}

.footer-email-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-email-signup-input {
  background-color: $body;
  height: 30px;
  width: 400px;
  border:1px solid $darkbrown;
}

.footer-email-signup-input:placeholder-shown {
  color: $background;
}

.footer-email-signup-input:placeholder-shown:focus {
  color: transparent;
}

.footer-email-signup-button {
  font-size: 20px;
  background-color: $brown;
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  width: 200px;
  color: $background;
}

.footer-social-links{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.footer-line-3 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer-line-4 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer-line-5 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer-line-6 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 5px;
}
